.title {
  color: black;
  text-align: center;
}

.display{
  display: flex;
  margin: 0;
  font-family: 'Varela Round', sans-serif;
  font-size: 18px;
  background: #F4F4F4;
}

.cards{
  flex-grow: 1;
  display: grid;
  /* height: 150px; */
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
}

.card-title a {
  font-size: 24px;
  color: green;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.card {
  background-size: cover;
  background-position: center;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 16px;
  color: black;
}



.map {
  position: sticky !important;
  margin-left: -17px;
  border-radius: 1px;
  top: 0 !important;
}

card-img, .card-img-top, .card-img-bottom {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.mapboxgl-canvas {
  width: 363.219px;
  height: 150vh;
  padding: 15px;
}

@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .mapboxgl-canvas {
    display: none;
  }
}

@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
  .mapboxgl-canvas {
    display: none;
  }
}

@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .mapboxgl-canvas {
    display: block;
  }
}

.padded {
  padding: 30px 0;
}
