// Import page-specific CSS files here.
@import "home";
@import "show";
@import "profile";
@import "edit";

.link-add-index {
  border-radius: 8px;
}

.card-address {
  height: 100px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}
