.profile-img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  justify-content: center;
}

.h2-profile {
  margin-bottom: 20px;
}

.profile-img-card {
  max-width: 160px;
}

.profile-container {
  max-width: 440px;
  margin-top: 210px;
}
