.container {
  display: flex;
  justify-content: space-around;
}

.container-infos {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.powerbank-infos {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 600px;
  border-radius: 5px;
  margin-right: 25px;
}

.button-show {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 370px;
  border-radius: 5px;
  margin-left: 25px;
  padding: 10px;
  height: 370px;
}

.powerbank-infos > img {
  object-fit: cover;
}

.powerbank-infos .avis-infos {
  padding: 16px;
  align-items: flex-end;
  position: relative;
}

.reservation {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 330px;
  width: 600px;
  border-radius: 5px;
  padding: 16px;
  position: sticky;
  top: 20px;
}

.reservation h4 {
  text-align: center;
}

.btn-green {
    background-color: #40E29A;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: auto;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    opacity: 0.8;
    margin-bottom: 10px;
  }

  .btn-green:hover,
  .btn-green:focus {
    background-color: #40E29A;
    opacity: 1;
  }

  .link-show {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

  }

#form-btn{
  width: fit-content;
}
