<div class="container d-flex justify-content-center">
  <div class="row">
    <div class="col">

      <h2 class="mx-5 font-weight-bolder mb-4 mt-5">My reservations</h2>


    <div class="main-container">

      <div class="reserv-cards">
        <ul>
          <% @reservations.each do |reservation| %>
            <li>

              <strong><%= reservation.powerbank.title %></strong>
              <p class="adress-reserv mt-2" ><%= reservation.powerbank.adress %></p>
              <strong>from</strong>
              <%= reservation.start_date %>
              <strong>to</strong>
              <%= reservation.end_date %>

            <div>
            <%# Ecrit en dur à faire %>
              <div class="btn btn-green"><p>Update</p></div>
              <div class="btn btn-green"><p>Delete</p></div>
            </div>
            </li>

          <% end %>
        </ul>
      </div>

      <img id="map" src='https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/2.3381,48.8693,10.45,0,0/600x1000?access_token=pk.eyJ1IjoidGhlb2JvbmRheiIsImEiOiJjbGEyZjhhMTIwZmZhM3dtem5mYTExdTkyIn0.O6n6cG77lq8S9ay3vaJGFw'>


    </div>

    </div>
  </div>
</div>
