<div class="container d-flex justify-content-center">
  <div class="row">
    <div class="col">
      <h2 class="my-4">Edit a powerbank</h2>
          <%= render "form", powerbank: @powerbank %>
    </div>
  </div>
</div>
