<h1>Powerbanks List</h1>
<ul>
  <% @powerbanks.each do |powerbank| %>
    <li>
    <%= link_to powerbank.title, powerbank_path(powerbank.id)%>
    </li>
  <% end %>
</ul>

<%= link_to "Add a new powerbank", new_powerbank_path %>
