<div class="container d-flex justify-content-center">
  <div class="row">
    <div class="col">
      <h2 class="mx-5 font-weight-bolder">Create a new powerbank offer</h2>

    </div>
  </div>
</div>
